<template>
  <div>
    <v-card-text class="logo py-4 d-flex justify-center mb-2">
      <v-card-title>Ronin</v-card-title>
      <v-card-text>
        Wat going on
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>